<html>
    <head>
        <!--Bootsrap4 libary.-->
        <link rel="stylesheet" href="lib/css/bootstrap.css">
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4">Sport Compass</h1>
            <p class="lead">Denmark Back-end Assignment and Bonus Requirements  </p>
            <hr class="my-4">
            <p>3 buttons in order that reach endpoint easily way. </p>
            <p>I haven't developed any form for User Interface. I have used ' Postman' when I develop this project.</p>
            <p class="lead">
              <a  style="margin-left: 3rem" class="btn btn-danger btn-md" href="/Triangle" role="button">/triangle</a>
              <a  style="margin-left: 3rem" class="btn btn-primary btn-md" href="/posts" role="button">/posts</a>
              <a  style="margin-left: 3rem" class="btn btn-warning btn-md" href="/comments" role="button">/comments</a>
            </p>
          </div>
    </body>
</html>